<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Cars</h5>
          <p>
            <strong>ID</strong>: {{cars.id}}</p>
          <p>
          <p>
            <strong>Make</strong>: {{cars.make}}</p>
            <p>
            <strong>Model</strong>: {{cars.model}}</p>
            <p>
            <strong>Year</strong>: {{cars.year}}</p>
            <p>
            <strong>Color</strong>: {{cars.color}}</p>
          <p>
            <strong>Description:</strong> {{cars.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
