<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4"><a href="/">CarTech</a></h1>
  <p class="lead">Browse our inventory and see what you like</p>
  <hr class="my-4">
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <ul id="cars-list" class="list-group">

        <div class="card-columns">
          <div class="card-deck-wrapper">
              {{#each car}}
              <div class="card">
                <img class="card-img-top" src="{{this.photo}}" alt="Car">
                <div class="card-body">
                  <h5 class="card-title">{{this.year}} {{this.make}} {{this.model}}</h5>
                  <p class="card-text">{{this.description}}</p>
                </div>
                <div class="card-footer">
                  <a href="cars/{{this.id}}" class="btn btn-warning" style="width:100%">See Car</a>
                </div>
              </div>
              {{/each}}
          </div>
        </div>

    </div>
    </ul>
    <a href="/">← Back To Home</a>
  </div>
</div>
</div>
