<div class="jumbotron jumbotron-fluid">
  <h1 class="display-4"><a href="/">CarTech</a></h1>
  <p class="lead">Browse our inventory and see what you like</p>
  <hr class="my-4">
</div>

<div class="container">

  <h3>Cars:</h3>

  <ul id="cars-list" class="list-group">
 
      <div class="card-deck">   
        <div class="card-columns">
        {{#each car}}
        <div class="card" style="width:400px">
          <div class="card-block">
            <img src="{{this.photo}}" alt="car" style="width:100%">
            <h4 class=" card-title">{{this.year}} {{this.make}} {{this.model}}</h4>
            <p class="card-text">{{this.description}}</p>

            <a href="cars/{{this.id}}" class="btn btn-danger">See Car</a>
          </div>

        </div>
        {{/each}}
      </div>
    </div>
  </ul>


  </br>
  <a href="/">← Back To Home</a>
  </br>

</div>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>